<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ti.zbus_manager.mapper.TopicMapper">
    <resultMap id="BaseResultMap" type="com.ti.zbus_manager.entities.Topic">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="ip" property="ip"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_time" property="deleteTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <insert id="addTopic" parameterType="com.ti.zbus_manager.entities.Topic">
        insert into topic(name,ip,create_time) values(#{name},#{ip},#{createTime})
    </insert>

    <select id="findTopic" parameterType="com.ti.zbus_manager.entities.Topic" resultMap="BaseResultMap">
        select * from topic where name=#{name};
    </select>
</mapper>